DATABASE__HOST=
DATABASE__PORT=
DATABASE__DB_NAME=
DATABASE__DB_SCHEMA=
DATABASE__USER=
DATABASE__PASSWORD=
DATABASE__ECHO=
DATABASE__MAX_OVERFLOW=
DATABASE__POOL_SIZE=
DATABASE__ALLOW_DROP_ALL_TABLES=
DATABASE__CREATE_TABLES_ON_STARTUP=

QDRANT__HOST=
QDRANT__PORT=
QDRANT__GRPC_PORT=
QDRANT__PREFER_GRPC=
QDRANT__HTTPS=
QDRANT__API_KEY=
QDRANT__PREFIX=
QDRANT__TIMEOUT=
QDRANT__COLLECTION_NAME=

REDIS__HOST=
REDIS__PORT=
REDIS__DB=
REDIS__USERNAME=
REDIS__PASSWORD=
REDIS__SSL=
REDIS__SOCKET_TIMEOUT=
REDIS__SOCKET_CONNECT_TIMEOUT=
REDIS__RETRY_ON_TIMEOUT=
REDIS__MAX_CONNECTIONS=

RATE_LIMITER__LIMITERS='[{"prefix":"wine","name":"llm","mode":"semaphore","capacity":1,"max_sleep":30.0,"semaphore":{"expiry":30}}]'

MINIO__HOST=minio
MINIO__PORT=9000
MINIO__ACCESS_KEY=minio
MINIO__SECRET_KEY=miniosecret
MINIO__BUCKET=wine
MINIO__VERIFY_SSL=false
MINIO__CA_CERT_PATH=

LLM__API_KEY=
LLM__BASE_URL=http://host.docker.internal:1234/v1
LLM__MODEL_NAME=
OLLAMA_INFER=0
SIGLIP2__MODEL_ID=google/siglip2-base-patch16-224

APP_PORT=8000
