DATABASE__HOST=postgres
DATABASE__PORT=6432
DATABASE__DB_NAME=app
DATABASE__DB_SCHEMA=public
DATABASE__USER=app
DATABASE__PASSWORD=appsecret
DATABASE__ECHO=false
DATABASE__MAX_OVERFLOW=10
DATABASE__POOL_SIZE=5
DATABASE__ALLOW_DROP_ALL_TABLES=false
DATABASE__CREATE_TABLES_ON_STARTUP=true

QDRANT__HOST=qdrant
QDRANT__PORT=6333
QDRANT__GRPC_PORT=6334
QDRANT__PREFER_GRPC=false
QDRANT__HTTPS=false
QDRANT__API_KEY=
QDRANT__PREFIX=
QDRANT__TIMEOUT=
QDRANT__COLLECTION_NAME=wine_vectors

REDIS__HOST=redis
REDIS__PORT=6379
REDIS__DB=0
REDIS__USERNAME=
REDIS__PASSWORD=
REDIS__SOCKET_TIMEOUT=5.0
REDIS__SOCKET_CONNECT_TIMEOUT=5.0
REDIS__RETRY_ON_TIMEOUT=true
REDIS__MAX_CONNECTIONS=50

RATE_LIMITER__LIMITERS='[{"prefix":"llm","name":"llm","mode":"semaphore","capacity":1,"max_sleep":30.0,"semaphore":{"expiry":30}}]'

MINIO__HOST=minio
MINIO__PORT=9000
MINIO__ACCESS_KEY=minio
MINIO__SECRET_KEY=miniosecret
MINIO__BUCKET=wine
MINIO__VERIFY_SSL=false
MINIO__CA_CERT_PATH=

LLM__API_KEY=NONE
LLM__BASE_URL=http://host.docker.internal:1234/v1
LLM__MODEL_NAME=nuextract3
LLM__IS_OLLAMA_INFER=false

APP_PORT=8000

SIGLIP2__MODEL_ID=google/siglip2-base-patch16-224
